{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load cache %}
{% cache 30 title %}
{% block title %}
Новости
{% endblock title %}
{% endcache %}
{% cache 30 contetnt %}
{% block content %}
 <h1>Все новости</h1>
  <br>
<!--<h1>Новостей на странице: {{news|length}}</h1>-->
<!--<br>-->
<h3>{% current_time '%b %d %Y' %}</h3>
<br>
<h4>Фильтр</h4>>
<br>
 <form action="" method="get">

       {{ filterset.form.as_p }}
        <br>
       <input type="submit" value="Найти" />
   </form>
<br>
<br>
{% if news %}
 <ul class="list-group">
  <li class="list-group-item active"><strong>Новости</strong></li>
   {% for news in news %}
  <li class="list-group-item">
     <a href="http://127.0.0.1:8000/news/{{news.id}}">{{ news }}</a>
   <br>
<!--   <h8>{{ news.text|censor}}</h8>>-->
   <br>
   <h10>{{ news.datetime_create}}</h10>>
  </li>>
   {% endfor %}
 </ul>>
{% else %}
 <h2> Новостей нет! </h2>
{% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
{% endcache %}