<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записаться</title>
</head>
<body>

<h1>Записаться</h1>>
    <form action ="{% url 'make_appointment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="client_name" >Ваше Имя</label>
        <input type="text" name="client_name"><br>
        <label for="message"> Краткое описание причины</label>
        <input type="text" name="message"><br>
        <label for="date">Укажите дату и время</label>
        <input type="date" name="date">.<br>
        <input type="submit" value="Отправить">

    </form>

</body>
</html>